app:
  name: "App Name"
  env: local
  debug: true
  url: http://localhost
  port: 8080
  lang: en
  maintenance: false

db:
  driver: mysql
  dsn: "<username>:<password>@tcp(<host>:<port>)/<database>?tls=skip-verify&autocommit=true&parseTime=true"

cache:
  driver: file
#  database: 0
#  host: 127.0.0.1
#  port: 6379
#  password: null

session:
  driver: file
  lifetime: 120